@import 'https://fonts.googleapis.com/css?family=Raleway:100,400';
@import 'https://fonts.googleapis.com/css?family=Abel';
@import 'https://fonts.googleapis.com/css?family=Vidaloka';

/* navbar*/

.navbar-c{
	position: absolute;
	z-index: 100;
	top: 60px;
	width: 100%;
	height: 100px;
}

.navbar-c .navbar-header, .navbar-c .navbar-brand{
	height: 90px ;
}

.nav li a {
	color: #fff;
	font-family: Raleway, sans-serif;
	font-weight: 400;
	line-height: 50px;
	text-transform: uppercase;
	font-size:12px;
}

.nav li a:hover, .nav li a:focus {
	background: none;
	color: #FB0006;
	transition: all 0.4s;
}

.nav-container{
	width: 80%;
	margin: auto auto;
}

#header{
	background-image: url('../../images/general/head.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 240px 0 180px;
	min-height: 800px;
}

/* home*/

#home{
    padding-top: 120px;
    padding-bottom: 120px;
}

.home-para{
    font-family: 'Abel', sans-serif;
    font-size: 17px;
}

/* about TEDx*/

#about{
    padding-top: 120px;
    padding-bottom: 120px;
    background: #f85032; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f85032 , #e73827); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f85032 , #e73827); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

.about-head{
    font-size: 50px;
    color: floralwhite;
}

.about-subhead{
    padding-bottom: 50px;
    color: floralwhite;

}

.about-para{
    color: floralwhite;
    line-height: 150%;
    font-family: 'Abel', sans-serif;
    font-size: 17px;
}


