@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Abel';


html,body {
	font-family: 'Montserrat', sans-serif;
}

section{
	padding: 20px 0;
}


/* navbar*/

.navbar-c{
	position: fixed;
	z-index: 100;
	top: 36px;
	width: 100%;
	height: 100px;
	transition: all 0.3s;
	border:0;
}

.navbar-toggle{
	padding: 0;
	padding-top: 20px;
	margin-right: 40px;
}

.icon-bar {
	background-color: #fff;
}

.navbar-c .navbar-header, .navbar-c .navbar-brand{
	height: 90px ;
}

.shrink {
	position: fixed;
	top:0;
	height: 80px;
	background-color: #000;
	border-radius:0;
}

.nav li{
	margin-top:0;
	height: 80px;
}

.nav li a {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	line-height: 50px;
	text-transform: lowercase;
	font-size:14px;
}

.nav li a:hover, .nav li a:focus {
	border-bottom: 2px solid #FB0006;
	background: none;
	color: #FB0006;
	transition: all 0.8s;
}


/*.shrink .nav li a:hover, .shrink .nav li a:focus {
	color: #fff;
} */

.nav-container{
	width: 95%;
	margin: auto auto;
}

#header{
	background-image: url('../../images/general/head.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 240px 0 180px;
	min-height: 800px;
}


#header h1{
	text-transform: uppercase;
	font-size: 45px;
}

#header h1, #header h2 {
	color:#fff;
}

.btn-default {
	background: #FB0006;
	color: #fff;
	border:none;
	border-radius: 2px;
	font-weight: 100;
}
.btn-default:focus,
.btn-default:hover,
.btn-default:active.btn-default:focus,
.btn-default:active.btn-default:hover{
	 /*background: #e10005;*/
	background: none;
	color: #FB0006;
	border: 1px solid #FB0006;
	transition: all 0.4s;
}

.btn-book {

}


/*  Gallery */

.gallery {
	background: #F0EFF4;
}

.gallery h1 {
	font-size: 35px;
	text-transform: uppercase;

}

.home{
    padding-top: 120px;
    padding-bottom: 120px;
}

.home-para{
    font-family: 'Abel', sans-serif;
    font-size: 17px;
}

/* about TEDx*/

#about{
    padding-top: 120px;
    padding-bottom: 120px;
    background: #f85032; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f85032 , #e73827); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f85032 , #e73827); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

.about-head{
    font-size: 50px;
    color: floralwhite;
}

.about-subhead{
    padding-bottom: 50px;
    color: floralwhite;

}

.about-para{
    color: floralwhite;
    line-height: 150%;
    font-family: 'Abel', sans-serif;
    font-size: 17px;
}


